@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --phogo: #4B4FAE;
  --phogo-dark: #3a3e8f;
  --phogo-light: #6366c4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-phogo: var(--phogo);
  --color-phogo-dark: var(--phogo-dark);
  --color-phogo-light: var(--phogo-light);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}
